.box__textpresentation{
    background-color: #F1F8FA;
    border-radius: 5px;
    padding: 40px;
    p{
        font-family: 'Rubik', sans-serif;
        font-size: 44px;
        color: #191A1D;;
        font-weight: 400;
    }
    h1 {
        font-family: 'Rubik', sans-serif;
        font-size: 22px;
        color: #191A1D;;
        font-weight: 300;
        margin: 15px 0px 0px;
        line-height: 175%;
    }
    h2 {
        font-family: 'Rubik', sans-serif;
        font-size: 22px;
        color: #191A1D;;
        font-weight: 300;
        line-height: 175%;
    }
}